@import '../common.css';

/*
  JSPM doesn't have a Stylus plugin yet and it's LESS plugin
  doesn't support @imports yet, so we're going to use straight css.
  Here's our color palate:

  primaryColor = #0277BD
  accentColor = #1DE9B6
  bgColor = #efefef
  darkBgColor = #263238
  lightBgColor = #37474F
  lightTextColor = #F5F5F5
  darkTextColor = #212121
*/

.navbar {
  background-color: #0277BD; /* primaryColor */
  padding: 10px 0px 10px 50px;
  /* border-radius: 15px; *
  margin: 0px 10px 10px 10px; */
  margin-bottom: 10px;
}
.navbar .nav-links,
.navbar .logo {
  display: inline-block;
  text-decoration: none;
}

.navbar .nav-links div {
  margin-right: 10px;
  display: inline-block;
}

.navbar .nav-links div a {
  color: #F5F5F5; /* lightTextColor */
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
}

.navbar .nav-links div a:visited {
  text-decoration: none;
}

.active-state {
  background-color: #F5F5F5;
}

.active-state * {
  color: #0277BD !important;
}