<navbar></navbar>
<div class="band-content">
  <div class="band-name">{{vm.bandData.pageTitle}}</div>
  <div class="band">
    <section class="band-info">
      <div class="band-image">
        <img src="{{vm.bandData.img}}" />
        <p class="band-text" ng-bind-html="vm.bandData.text"></p>
      </div>

    </section>

    <section class="band-video">
      <iframe style="overflow:hidden" width="100%" height="100%" src="{{vm.bandData.youtube}}" class="video" frameborder="0" allowfullscreen></iframe>
    
    </section>

  </div>
	<!-- <h1>{{ vm.name }}</h1> -->
</div>