.band {
	display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}

.band-info {
  flex: 1;
  -webkit-flex: 1;
}

.band-video {
  flex: 1;
  -webkit-flex: 1;
}

.band-video * {
  width: 80%;
  margin-top: 2em;
}

.band-name {
  font-weight: bolder;
  font-size: 2em;
}

.band-image * {
  width: 100%;
}

.band-text {
  color: darkblue;
}