<navbar></navbar>
<div class="content">
  <div class="band">
    <section class="band-video">
    <iframe width="640" height="360" src="https://www.youtube.com/embed/_P57CbtAVE0" frameborder="0" allowfullscreen></iframe>
    </section>

    <section class="band-info">
      <div class="band-name">{{vm.bandName}}</div>
      <div class="band-image">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Queen_-_montagem.png" />
      </div>
      <div class="band-text">
      Queen are a British rock band that formed in London in 1970. Their classic line-up was Freddie Mercury (lead vocals, piano), Brian May (lead guitar, vocals), Roger Taylor (drums, vocals), and John Deacon (bass guitar). Queen's earliest works were influenced by progressive rock, hard rock and heavy metal, but the band gradually ventured into more conventional and radio-friendly works by incorporating further styles, such as arena rock and pop rock, into their music.
      </div>

    </section>

  </div>
	<!-- <h1>{{ vm.name }}</h1> -->
</div>