

.band-content {
  width: 60%;
  background-color: #303338;
  margin: 0 auto;
  padding: 15px;
}

.band-info, .band-video {
}

.band-video {
  position: relative;
  height: 0;
  padding-top: 60%;
  width: 100%;
  margin-bottom: 20px
}

.band-video > .video {
  width: 100%;
  height: 100%;
  no-margin-top: 2em;
  position: absolute;
  top: 0;
  left: 0;
}



.band-name {
  color: white;
  font-size: 2em;
  text-align: center;
}

.band-image {
}

.band-image img {
  width: 60%;
  float:left;
  margin-left: 10px;
  margin-right: 10px;
}

.band-text {
  color: #D0DCEC;
}

.band-text p {
  padding: 5px 10px 5px 10px;
}